body{
    background-color: #000000;
    color: #FFFFFF;
 }
 
 font{
    color: #FFFFFF;
 }

 a{
    color:#00ff7f
 }

p{
    line-height: 5px;
}

h2{
    line-height: 5px;
}

.postbt{
    background-color:#00ff7f;
    color: #000000;
    font-weight: bold;
    border-style: solid;
    border-radius: 4;
    border-color: #00ff7f;
}

.scrolldiv{
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    scrollbar-color: #000000 #00ff7f;
}

.iptstyle{
    background-color: #000000;
    font-size: 15px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
